// Specific CSS for your home-page
#banner-title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.267);
  font-weight: bolder;
  color: #EFF2EF;
  font-family: 'Aclonica', sans-serif;
}

body {
  padding-top: 1rem;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  .container {
    border-radius: 16px;
    max-width: 90vw;
  }
}

.results {
  color: white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 1rem;
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
