<div class="footer-container">
  <p>The Healthy Dog Calculator</p>
  <ul class="footer-links list-inline d-flex">
    <a href="https://github.com/VeganBt" target="_blamk">
      <li><%= icon("fab", "github") %></li>
    </a>
    <a href="https://www.linkedin.com/in/ofer-peled/" target="_blamk">
      <li><%= icon("fab", "linkedin") %></li>
    </a>
    <a href="https://troopl.com/ofer-peled" target="_blamk">
      <li><%= icon("fas", "rocket") %></li>
    </a>
  </ul>
  <p>Created by Ofer Peled</p>
</div>
