<div class="footer-container d-flex flex-column align-items-center p-4">
  <ul class="links list-inline d-flex">
    <li><%= icon("fab", "github") %></li>
    <li><%= icon("fab", "github") %></li>
    <li><%= icon("fab", "github") %></li>
  </ul>
  <p>Created by Ofer Peled</p>
</div>
